# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [30]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

In [4]:
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
blank_cols = [f"Unnamed: {i}" for i in range(9,14)]
cars1.drop(columns=blank_cols, inplace=True)
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [20]:
cars1.shape[0]

198

In [22]:
cars2.shape[0]

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [35]:
assert all(cars1.columns  == cars2.columns)

In [37]:
cars = pd.concat([cars1, cars2], axis=0)
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [38]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([72724, 38496, 17988, 24016, 19084, 70050, 48520, 50617, 66092,
       54826, 19072, 28573, 18368, 37736, 47140, 28079, 40780, 42626,
       66263, 54426, 47014, 28098, 22985, 69694, 46984, 48314, 37069,
       72997, 32635, 26009, 25413, 51563, 39611, 69681, 63277, 31454,
       35808, 35378, 57252, 61065, 45993, 69908, 39124, 42314, 32691,
       25690, 52187, 61997, 42770, 48938, 39136, 63278, 22695, 18221,
       50869, 20733, 68461, 32967, 41191, 16960, 61908, 65240, 55368,
       70660, 56923, 46043, 65608, 59477, 22261, 45353, 38445, 57383,
       61468, 63986, 53003, 52603, 54525, 37043, 52871, 26961, 27600,
       51837, 42108, 36376, 35990, 37634, 56035, 48072, 62498, 49552,
       44056, 38695, 43668, 26718, 61962, 46970, 47243, 63131, 58541,
       25286, 66982, 28963, 42629, 37198, 45511, 59304, 56234, 46627,
       15201, 27553, 50679, 44949, 21085, 29409, 20187, 57819, 71223,
       69251, 60211, 55283, 67655, 61138, 24157, 33794, 37531, 54756,
       18669, 18481, 54268, 16517, 19265, 36562, 17377, 23083, 56394,
       61494, 16199, 24030, 61698, 37503, 63569, 41628, 39602, 31259,
       24834, 33224, 51756, 21532, 28554, 59910, 33674, 67045, 33147,
       45644, 27554, 51333, 20967, 43589, 23607, 33186, 69302, 17801,
       49383, 34075, 37573, 52364, 28139, 43928, 65216, 51842, 31355,
       72946, 31780, 53154, 48050, 54682, 55017, 61872, 36195, 28967,
       23894, 36150, 40535, 20771, 38561, 61703, 60711, 31507, 48283,
       46602, 52331, 71533, 51450, 51600, 39733, 27086, 62983, 26014,
       45084, 54746, 58554, 27665, 41850, 24977, 61720, 59148, 42741,
       39863, 29529, 42853, 55849, 45109, 28332, 65030, 66925, 45840,
       71248, 47725, 40731, 63104, 24533, 55213, 20397, 45313, 60096,
       19667, 58561, 21032, 24063, 36724, 31785, 50353, 38541, 24181,
       20729, 37030, 65620, 65073, 66356, 54156, 59400, 15784, 22500,
       45073, 38128, 51497, 70721, 36608, 41738, 28825, 54758, 47709,
       67010, 61289, 52352, 68219, 20122, 40207, 43947, 48370, 38044,
       69125, 72351, 19886, 37660, 69073, 69548, 39456, 21238, 25934,
       47121, 45297, 69073, 61530, 35854, 41832, 62511, 55057, 71121,
       47931, 63191, 69684, 43321, 20280, 54286, 21586, 57358, 15760,
       19394, 66589, 63479, 24543, 25703, 53371, 72249, 32913, 67585,
       41391, 57441, 70076, 49488, 66528, 26871, 21237, 41955, 71012,
       57736, 39016, 45506, 66314, 30442, 36049, 54487, 35061, 26983,
       57623, 64591, 68133, 72973, 56288, 59491, 20802, 58331, 24055,
       23455, 24396, 47558, 70652, 22822, 37327, 51790, 70470, 54992,
       66426, 33647, 67519, 48197, 49564, 33439, 60495, 30367, 42006,
       69299, 18410, 71775, 16316, 29594, 24164, 34449, 64425, 48124,
       56019, 53033, 41912, 37665, 67024, 41099, 18729, 21389, 31475,
       29956, 68911, 69032, 44909, 62837, 16974, 72135, 69834, 45810,
       41366, 34028, 41771, 56028, 46755, 21888, 59129, 38556, 70835,
       46626, 26733, 17527, 55752, 41708, 50273, 31217, 49472, 30535,
       29415, 41688, 69839, 35098, 47750, 30979, 19464, 52702, 50733,
       59055, 28106])

### Step 8. Add the column owners to cars

In [39]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,19464
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,52702
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,50733
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,59055
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,28106